<h1>réserver</h1>

<form method='post' action='/selectrestaurant' enctype='multipart/form-data' role="form" class="form-inline">
	
<div class="form-group" style="position:relative;">

	<input type="date" class="form-control" id="date" name="date"  placeholder="date" style="width:100%;" value="{{datehtmlformated date}}">
    <input type="time" class="form-control" id="restime" name="restime" placeholder="time" style="width:100%;">

	<select class="form-control" id="guests" style="width:100%;">
		<option value="1">1 guest</option>
		<option value="2">2 guests</option>
	  	<option value="3">3 guests</option>
		<option value="4">4 guests</option>
	</select>
</div>

<button type="submit" name="bla" class="btn">restaurant</button>

</form>

