<p>
Wie geniessen Sie ihre Mittagspause mit Arbeitskollegen? Das Restaurant suchen, den passenden Tisch finden, das übliche Menü auswählen. Stellen Sie sich vor, garçon übernimmt für Sie diese Prozedur. Nutzen Sie Ihre wertvolle Zeit sinnvoll und effizient. Ihr Mittagessen wird serviert sobald Sie sich an den reservierten Tisch setzten. Geniessen Sie einen vorzüglichen Service; denn nur mit garçon wird ihr kulinarisches Erlebnis abgerundet. Seien Sie Teil der künftigen Mitgliedschaft und bewerben Sie sich um eine Testversion. Ihre Mailadresse reicht uns.
</p>
<form method='post' action='/register' enctype='multipart/form-data' class="form-inline" >
    <button type="submit" class="btn btn-send" style="float:right;">entrer</button>
    <div style="overflow: hidden; padding-right: 11px;">
        <input type="email" class="form-control emailinput" name="email" id="email" placeholder="e-mail" />
    </div>
</form>