<!--
<div class="row">
  <div class="col-xs-4"><img src="img/shoes/image-1.png" style="max-width:100%">Likes</div></div>
  <div class="col-xs-4"><img src="img/shoes/image-10.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-34.png" style="max-width:100%"></div>
</div>
<div class="row">
  <div class="col-xs-4"><img src="img/shoes/image-5.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-40.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-6.png" style="max-width:100%"></div>
</div>
<div class="row">
  <div class="col-xs-4"><img src="img/shoes/image-7.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-32.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-31.png" style="max-width:100%"></div>
</div>
<div class="row">
  <div class="col-xs-4"><img src="img/shoes/image-33.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-26.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-27.png" style="max-width:100%"></div>
</div>
-->
{{#each sneakers}}
<div class="col-xs-4"><a href="/sneaker/{{id}}"><img src="/img/uploads/fullsize/{{id}}.png" style="max-width:100%"></a><div>{{wins}}<img src="/img/fisticon.png" style="width:20px"></div></div>
{{/each}}


{{#each entries}}
<p>
<a href="/article/{{id}}">{{title}}</a><br/>
Published: {{published}}
<img src="/img/uploads/fullsize/{{title}}.png" style="max-width:100%">
</p>
{{/each}}