<h1>commande</h1>

 {{#each restaurants}}
 	<div>
 		{{this}}
 	</div>
 {{/each}}



<div class="row">
	<div class="col-xs-6">
 		<a href="/foodselection" class="btn" role="button" style="width:100%; background-color : #d1d1d1; height: 40px;  text-align: center; vertical-align: middle;line-height:40px; font-family: 'EB Garamond', serif;">changer</a>
  	</div>
	<div class="col-xs-6">
	 	<a href="/orderconfirmation" class="btn" role="button" style="width:100%; background-color : #dbbc71; height: 40px;  text-align: center; vertical-align: middle;line-height:40px; font-family: 'EB Garamond', serif; color: #ffffff;">confirmer</a>
 	</div>
</div>