@import url(http://fonts.googleapis.com/css?family=Signika+Negative);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Carme);


/* Sticky footer styles
      -------------------------------------------------- */

     

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        /*background-color: #f5f5f5;*/
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }


      html,body {
  background-color: #ffffff;
  font-family: 'Signika Negative', sans-serif;
  height: 100%;
        /* The html and body elements cannot have any padding or margin. */
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


.navbar-inverse {
	background-color: #252525;
	background-image: none;
}

.navbar-nav {
  font-size: 18px;
}

h1{
	font-family: 'EB Garamond', serif;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
  margin-bottom: 40px;
  margin-top: 40px;
}

input[type="text"],input[type="time"],input[type="date"], textarea, #guests, #time {
  font-family: 'Carme', sans-serif;
  font-size: 22px;
  background-color : #d1d1d1;
  border-radius: 0px;
  color: #000000;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.btn {
  padding: 0px;
  border-radius: 0px;
  color: #000000;
  height:40px; 
  width:100%; 
  background-color : #d1d1d1; 
  font-size: 22px;
  text-align: center; 
  vertical-align: middle;
  line-height:40px;
  font-family: 'Carme', sans-serif; 
  border:none; 
  margin-bottom:15px;
}


.form-control{
  margin-bottom: 20px;
  width: 100%;
}
.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}


.backbutton,.forwardbutton{
  background-color : #d1d1d1;
  height: 40px;
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
}

.forwardbutton {
  background-image: url('/img/forward.png');
  padding-left: 10px;
}

.backbutton {
  background-image: url('/img/back.png');
  padding-right: 10px;
}


.menu {
  min-height: 150px;
   padding:10px;
}

.quantitycontrol{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 150px;
  display: none;
}


.counter,.qplus,.qminus{
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.counter{
  background-color: #FAFAFA;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 10px; 
}

.qplus{
  background-color: #A4A4A4;
  display:inline-block;
  padding-top: 17px;
  padding-left: 1px;
}

.qminus{
  background-color: #A4A4A4;
    display:inline-block;
  padding-top: 18px;
}

/* Small devices (tablets, 768px and up) */
 @media (max-width: 767px) { 
   }  

  .quotetext {
   font-size: 20px;
  }

  .quoteauthor{
     font-size: 16px;
  }

}
