@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);


/* Sticky footer styles
      -------------------------------------------------- */

     

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        /*background-color: #f5f5f5;*/
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }


      html,body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;

  height: 100%;
        /* The html and body elements cannot have any padding or margin. */
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.container {
  max-width: 900px;
}

.header {
  border-bottom: solid 1px black;
  /*
  margin-bottom: 100px;
  */
  margin-bottom: 40px;
}

.logo{
  text-align: center;
  vertical-align: middle;
  /*
  margin-top: 100px;
  margin-bottom: 100px;
  */
  margin-top: 40px;
  margin-bottom: 40px;
}

.marketing {
  max-width: 700px;
  margin: 0 auto;
  /*
  margin-bottom: 100px;
  */
  margin-bottom: 40px;

}


.phonecontainer {
  float: left;
  width: 100%;
  /*
  margin-bottom: 100px;
  */
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
}

.marketingtext {
  float: left;

  width: 100%;
}

.marketingtext p{
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 30px;

}

.besteatigung{
  margin-bottom: 10px !important;

}

.emailinput{
  background: #eaeaea;
  height: 38px;
  width:100%;
  font-family: 'EB Garamond', serif;
  font-size: 17px;
  background-color: #d1d1d1;
  border-radius: 0px;
  color: #000000;
  text-align: left;
  vertical-align: middle;
  float: left;
}


h1{
	font-family: 'EB Garamond', serif;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
  margin-bottom: 40px;
  margin-top: 40px;
}



.btn-send{
  border-radius: 0px;
  color: #ffffff;
  height:38px; 
  width:88px; 
  background-color : #debb6f; 
  font-size: 19px;
  font-family: 'EB Garamond', serif;
  border:none; 
  margin-bottom:15px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 1px;
}

.btn-umfrage{
  width:105px; 
}

.btn-send:hover{
  background-color:#ffffff;
  color:#debb6f;
  border: 1px solid #debb6f;
}

.vertraulich {
  color:#a8a8a8;
  font-size: 17px;
}


.form-control{
  margin-bottom: 5px;
  width: 100%;
}
.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}


.backbutton,.forwardbutton{
  background-color : #d1d1d1;
  height: 40px;
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
}

.forwardbutton {
  background-image: url('/img/forward.png');
  padding-left: 10px;
}

.backbutton {
  background-image: url('/img/back.png');
  padding-right: 10px;
}


.menu {
  min-height: 150px;
   padding:10px;
}

.quantitycontrol{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 150px;
  display: none;
}


.counter,.qplus,.qminus{
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.counter{
  background-color: #FAFAFA;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 10px; 
}

.qplus{
  background-color: #A4A4A4;
  display:inline-block;
  padding-top: 17px;
  padding-left: 1px;
}

.qminus{
  background-color: #A4A4A4;
    display:inline-block;
  padding-top: 18px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.header {
  margin-bottom: 100px;

}

.logo{

  margin-top: 100px;
  margin-bottom: 100px;

}

.marketing {

  margin-bottom: 100px;


}


.phonecontainer {
  margin-bottom: 100px;
  float: left;
  width: 218px;

}

.marketingtext {
  width: 405px;
  margin-left: 77px;
  margin-top: 4px;
}

.marketingtext p{


  margin-bottom: 60px;


}

}